.container-activity{
  width: 65%;
}
.container-activity-photo img {
  width: 400px;
  height: auto;
  margin-left: 26px;
}
.container-activity-photo {
 flex: 1;
}
.form-container {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: white;
  padding: 30px;
  // width: 350px;
  margin: 0 auto;
}
.header {
  margin-bottom: 20px;
}
.header-row {
  display: flex;
  align-items: center;
}
.big-bold {
  font-weight: bold;
  font-size: 24px;
  margin-right: 5px;
}
.small-light {
  font-size: 12px;
  color: #969696;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}
#counter {
  margin: 0 15px;
}
.round-bordered {
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 35px;
  font-size: 18px;
  color: #848484;
  height: 35px;
  padding: 3px
}
