<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div>
  <input type="text">
  <button>Let's go!</button>
</div>

<%= form_tag(activities_path method: :get) do %>
  Location <%= text_field_tag :address %>
  <%= submit_tag 'Search' %>
<% end %>

