#map {
  height: 100vh;
  position: sticky;
  top: 0;
  padding-top: 10px;

}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 5px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
